<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotMath</title>
    <link rel="stylesheet" href="../static/stylesheet/main.css">
    <link rel="stylesheet" href="../static/stylesheet/home.css">
</head>
<body>
    <img src="../static/asset/person.png" alt="Person">
    <div class="title">
        <p>Welcome to</p>
        <p><span>NotMath</span> Flashcard Game</p>
    </div>
    <form action="{{ url_for('quizPage') }}">
        <button class="restart-btn" type="submit">Let's Start!!</button>
    </form>
</body>
</html>